/* Judul bagian history */
.history .history-title{
    margin: 20px 0;
}

.history .history-title h2{
    color: #553C7B;
    font-size: 24px;
}

/* Konten atas history */

.history-filter{
    width: 900px;
    margin: 10px 0;
}

.history-button{
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.history-search{
    float: right;
    margin-right: 10px;
}

.history-filter button{
    padding: 10px 15px;
    background: #fff;
    color: #7d58b5;
    border: 1px #7d58b5 solid;
    border-radius: 5px;
}

.history-filter button:hover{
    background: #7d58b5;
    color: #fff;
    border: 1px #7d58b5 solid;
    transition: 0.2s;
}

::placeholder{
    color: #7d58b5;
}

/* Card user history */

.history-card{
    float: left;
    width: calc(50% - 50px);
    height: 420px;
    overflow: scroll;
}

.history-card::-webkit-scrollbar{
    display: none;
}

.history-card .card-content{
    width: 100%;
    height: 70px;
    background: #7d58b5;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 10px 0;
}

.history-card .card-content img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 20px;
}

.history-card .card-content .card-status{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
    color: #fff;
}

.history-card .card-content .card-status h2{
    font-size: 16px;
    font-weight: bold;
}

.history-card .card-content .card-status p{
    font-size: 12px;
}

.history-card .card-content a{
    margin: 0 20px;
    float: right;
    color: #fff;
}

/* Detail history */

.history-detail{
    float: right;
    width: calc(50% - 50px);
    height: 420px;
    margin-right: 80px;
    border-radius: 10px;
    background: #7d58b5;
    overflow: scroll;
    overflow-x: hidden;
}

.history-detail::-webkit-scrollbar{
    display: none;
}

.history-detail h2{
    margin: 25px 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.history-detail .detail-content{
    width: 100%;
    color: #fff;
    padding: 0 30px;
}

.history-detail .detail-content .detail-item{
    margin: 15px 0;
    width: 100%;
}

.history-detail .detail-content label{
    font-size: 14px;
    font-weight: bold;
}

.history-detail .detail-content p{
    font-size: 12px;
}

.history-filter input{
    padding: 10px 15px;
    background: #fff;
    color: #7d58b5;
    border: 1px #7d58b5 solid;
    border-radius: 5px;
}

.history-filter i{
    padding-left: 5px;
}

/* Ini Modal */
.filter-form{
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background:#fff;
    border: #7d58b5 3px solid;
    border-radius: 10px;
    opacity: 0%;
    visibility:hidden;
}

.filter-form .form h1{
    color: #7d58b5;
    text-align: center;
    font-size: 42px;
    padding: 30px 0px;
}

.filter-form .form form{
    padding: 0 40px;
    margin: 10px 0;
}

.filter-form .form .txt-form{
    margin: 20px 0;
}

.filter-form .form .txt-form label{
    font-size: 16px;
    color: #7d58b5; 
    font-weight: bold;
}

.filter-form .form .txt-form select{
    background: #7d58b5;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.filter-form .form .txt-form option{
    padding: 5px 0;
}

.filter-form .form .button-form{
    margin: 10px 0px;
}

.filter-form .form #button-submit{
    color: #fff;
    position: relative;
    padding: 10px 25px;
    background: #7d58b5;
    border: none;
    border-radius: 5px;
    border: #fff 1px solid;
}

.filter-form .form #button-submit:hover{
    color: #7d58b5;
    background: #fff;
    border: #7d58b5 1px solid;
    transition: 0.3s;
}

.filter-form .form a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.filter-form.active{
    transition: 0.5s;
    opacity: 100%;
    visibility: visible;
}


@media(max-width: 768px){
    .history{
        display: none;
    }

    .main{
        margin-left: 0;
    }
}



